/*Each colored box has a 1 pixel border.
The content area of each box is 150 pixels wide by 50 pixels high.
The overall size of each box is 172 pixels wide by 72 pixels high.
The orange box is indented by 30 pixels.
Each subsequent box is indented by 30 more pixels than the previous.
There are 10 pixels of space between the boxes.
The wavelength text is bold.
The header should link to the wikipedia article on the specified subject.
-
height = height + padding-top + padding-bottom + border-top + border-bottom

width = width + padding-left + padding-right + border-left + border-right
*/

div{
	width:50px;
	height:50px;
	border:1px solid black;
	margin:50px;
	text-decoration:bold;
	color:white;
	padding:10px;

}
a{
	margin:50px;
}

.red{
	background-color:red;
	float:left;
	position:absolute;
	top:50px;
	bottom:50px;
}
.red_arrow{
	float:left;
	position:relative;
	left:100px;
	bottom:10px;
}
.orange{
	background-color:orange;
	clear:right;

}
.yellow{
	background-color:yellow;
	float:left;

}
.green{
	background-color:green;
	float:left;
	clear:left;

}
.blue{
	background-color:blue;
	float:left;
	clear:right;

}
.purple{
	background-color:purple;
	float:left;
	clear:right;

}
